* hr {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  padding-left: 0px;
  padding-right: 0px;
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  height: auto;
  background-color: #151720;
}
.wrapper .columns {
  padding-left: 0px;
  padding-right: 0px;
}
.wrapper .flex-container {
  display: flex;
  flex-direction: horizontal;
}
.wrapper .rw1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
.wrapper .my-cols1 span {
  color: white;
  float: left;
  font-size: 10px;
  padding-top: 10px;
  padding-bottom: 4px;
}
.wrapper .my-cols1 img {
  width: 10px;
  height: 10px;
}
.wrapper .my-cols2 {
  padding-left: 45px;
}
.wrapper .my-cols2 span {
  color: white;
  color: white;
  font-size: 10px;
}
.wrapper .navi {
  width: 100%;
}
.wrapper .navi img {
  text-align: center;
  padding: 15px;
  padding-left: 8px;
}
.wrapper .my-cols4 {
  text-align: right;
  color: white;
}
@media screen and (max-width: 39.9375em) {
  .wrapper .my-cols4 .y-main-nav {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 10;
    width: 250px;
  }
  .wrapper .my-cols4 .y-main-nav.mui-enter {
    transition-duration: 500ms;
    transition-timing-function: linear;
    transition-duration: 0.2s;
    transition-timing-function: easeInOut;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .wrapper .my-cols4 .y-main-nav.mui-enter.mui-enter-active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .wrapper .my-cols4 .y-main-nav.mui-leave {
    transition-duration: 500ms;
    transition-timing-function: linear;
    transition-duration: 0.2s;
    transition-timing-function: easeInOut;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .wrapper .my-cols4 .y-main-nav.mui-leave.mui-leave-active {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
.wrapper .my-cols4 .y-main-nav__close {
  padding: 5px 10px;
  margin-bottom: 0;
}
.wrapper .my-cols4 .y-main-nav__close > .fa {
  font-size: 30px;
  line-height: 23px;
}
.wrapper .my-cols4 .my-title-bar {
  float: right;
}
.wrapper .my-cols4 .navi-font1 {
  position: absolute;
  right: 60px;
  top: 42px;
}
.wrapper .my-cols5 {
  padding-left: 0px;
  padding-right: 0px;
}
.wrapper .my-cols5 img {
  width: 100%;
}
.wrapper .my-cols5 .btn-two {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 22px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 1px;
}
.wrapper .btn-body {
  width: 100%;
}
.wrapper .btn1 {
  width: 100%;
  background-color: #ff6c00;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px;
}
.wrapper .center-img-overlap {
  position: relative;
  background-image: url(../images/web/back-image.jpg);
  opacity: 0.3;
}
.wrapper .center-img-overlap:before {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: auto;
  background: #000;
  z-index: 9;
}
.wrapper .center-img-overlap-one {
  background: #ff6c00;
  color: white;
}
.wrapper .center-img-overlap-one span {
  margin-left: -15px;
}
.wrapper .center-img-overlap-one span img {
  height: 15px;
  width: 20px;
  margin: 40px;
  margin-right: 5px;
}
.wrapper .center-img-overlap-one p {
  margin: 20px;
  margin-top: 10px;
  text-align: left;
}
.wrapper .center-img-overlap-one .btn-one {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 22px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 1px;
}
.wrapper .head-text {
  color: white;
}
.wrapper .head-text P {
  text-align: left;
}
.wrapper .head-text span {
  padding: 20px;
  font-weight: bolder;
  font-size: 20px;
  text-align: left;
}
.wrapper .head-text span img {
  margin-left: 10px;
  width: 20px;
  height: 22px;
}
.wrapper .head-text p {
  text-align: left;
  padding: 20px;
}
.wrapper .our-partner-header {
  text-align: center;
  width: 100%;
  color: #ff6c00;
  background: white;
  font-size: 25px;
  font-weight: bold;
  padding-top: 70px;
}
.wrapper .our-partner-header .rw8 {
  text-align: center;
}
.wrapper .our-partner-header .rw2 img {
  height: 50px;
  width: 170px;
}
.wrapper .our-partner-header .rw3 img {
  padding-left: 10px;
  height: 50px;
  width: 50px;
}
.wrapper .our-partner-header .rw4 img {
  height: 50px;
  width: 70px;
}
.wrapper .our-partner-header .rw5 img {
  text-align: right;
  height: 50px;
  width: 70px;
  margin-left: 70px;
}
.wrapper .our-partner-header .rw6 img {
  padding: 10px;
  height: 100px;
  width: 200px;
}
.wrapper .our-partner-header .rw7 img {
  padding: 10px;
  height: 100px;
  width: 200px;
  padding-left: 30px;
}
.wrapper .announce {
  color: white;
  width: 100%;
  background-color: #ff6c00;
  text-align: left;
  padding-top: 50px;
  font-size: 25;
  font-weight: bold;
}
.wrapper .announce .tran-one, .wrapper .announce .tran-two {
  font-size: 20px;
  width: 89%;
  height: auto;
  background: #0000001f;
  padding: 20px;
  text-align: left;
  margin: 20px;
  margin-right: -16px;
}
.wrapper .announce .text-trans p {
  text-align: left;
  padding-left: 20px;
  font-size: 25px;
}
.wrapper .announce img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
.wrapper .announce .btn-three {
  color: #fefefe;
  border: 1px solid white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 22px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 1px;
  background: transparent;
  margin-left: 35px;
}
.wrapper .upi-dead-line {
  width: 100%;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  background-color: #151720;
  padding-left: 20px;
  color: white;
  margin-top: 100px;
}
.wrapper .upi-dead-line .upi-trans span {
  margin-bottom: 50px;
}
.wrapper .upi-dead-line .upi-one, .wrapper .upi-dead-line .upi-two {
  font-size: 20px;
  width: 89%;
  height: auto;
  background: #0000001f;
  padding: 20px;
  text-align: left;
  margin: 20px;
  margin-right: -16px;
}
.wrapper .upi-dead-line .text-trans p {
  text-align: left;
  padding-left: 20px;
  font-size: 25px;
}
.wrapper .upi-dead-line img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
.wrapper .upi-dead-line .btn-four {
  color: #fefefe;
  border: 1px solid white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 22px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 1px;
  background: transparent;
  margin-left: 35px;
}
.wrapper .twitter {
  width: 100%;
  background: white;
  text-align: center;
  font-weight: bolder;
  color: #ff6c00;
  padding-top: 100px;
}
.wrapper .twitter span {
  font-size: 30px;
}
.wrapper .twitter .twitter-head {
  width: 90%;
  height: auto;
  margin-top: 20px;
  border: 1px solid gray;
  margin-left: 20px;
  font-size: 15px;
  text-align: left;
  padding: 10px;
}
.wrapper .twitter .twitter-head .btn-five {
  position: relative;
  top: 20px;
  display: inline-block;
  padding: 0.85em 1em;
  border: 1px solid #2ba6cb;
  border-radius: 3px;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  -webkit-appearance: none;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  color: #2ba6cb;
  font-weight: bolder;
  background-color: transparent;
  color: #2ba6cb;
  float: right;
  position: relative;
  top: -61px;
  border: 1px solid;
}
.wrapper .twitter .twitter-head .btn-five span i {
  padding: 10px;
}
.wrapper .twitter .twitter-head span {
  color: black;
  font-size: 20px;
}
.wrapper .twitter .twitter-head span p {
  font-size: 10px;
}
.wrapper .twitter .twitter-head span img {
  width: 50px;
  border-radius: 50%;
  float: left;
  margin-left: 10px;
  padding: 5px;
}
.wrapper .twitter .twitter-head span span::after {
  content: "Sexual Right Initiative";
}
.wrapper .twitter .twitter-head span p {
  font-size: 10px;
  text-align: left;
}
.wrapper .arrow {
  color: gray;
  font-size: 30px;
  text-align: center;
  background: white;
}
.wrapper .mailing {
  width: 100%;
  height: 600px;
  font-weight: bolder;
  color: white;
  font-size: 30px;
  background-image: url(../images/web/back-image.jpg);
}
.wrapper .mailing span {
  width: 100%;
  padding-top: 70px;
}
.wrapper .mailing span p {
  padding: 0px;
}
.wrapper .mailing img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.wrapper .mailing-list {
  margin: 0 auto;
}
.wrapper .btn-five {
  color: #fefefe;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 22px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
  background: #ffae00;
  margin-left: 35px;
  width: 200px;
  height: 47px;
}
.wrapper .footer {
  color: white;
  background: #151720;
  padding-left: 20px;
}
.wrapper .footer .btn-six {
  color: #fefefe;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 22px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
  background: #ff6c00;
  margin-left: 35px;
  width: 200px;
  height: 47px;
}
.wrapper .copyright {
  color: white;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
