* {
  margin: 0px;
  padding: 0px;
  :hover: none;
}

.full-header-background {
  margin-left: 60px;
  margin-right: 60px;
  width: 100%;
  height: 700px;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/Web/image.png);
}
@media only screen and (min-width: 600px) {
  .full-header-background {
    margin-left: 120px;
    margin-right: 120px;
  }
}

/*Media_quary*/
.my-cols1 {
  text-align: right;
  font-size: 10px;
}
@media only screen and (max-width: 600px) {
  .my-cols1 {
    text-align: left;
    font-size: 10px;
  }
}

.my-cols3 {
  text-align: center;
}

.my-cols2 {
  padding: 0;
  font-size: 14px;
}
@media only screen and (min-width: 600px) {
  .my-cols2 {
    text-align: left;
    font-size: 10px;
    border-right: 1px solid white;
    margin-right: 35px;
    text-align: center;
  }
}

@media only screen and (min-width: 600px) {
  hr {
    padding: 0px;
    display: none;
  }
}
.wrapper {
  padding-left: 0px;
  padding-right: 0px;
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  height: auto;
  background-color: #151720;
}
.wrapper .rw1 {
  height: 30px;
  background-image: linear-gradient(#000000, #ffff0000, #0000ff00);
  padding-top: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  font-weight: 700;
  /*margin-left: 0px;
  margin-right: 0px;*/
}
.wrapper .my-cols1 {
  width: 50%;
  float: left;
  font-size: 10px;
}
.wrapper .my-cols1 span {
  color: white;
  float: left;
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 4px;
}
.wrapper .my-cols1 img {
  width: 10px;
  height: 10px;
}
.wrapper .my-cols2 {
  /*padding-left: 45px;*/
  width: 50%;
  float: right;
  font-size: 10px;
}
.wrapper .my-cols2 span {
  color: white;
  font-size: 10px;
}
.wrapper .navi {
  width: 100%;
}
.wrapper .my-cols4 {
  text-align: right;
}
.wrapper .my-cols4 a {
  color: white;
  font-size: 13px;
}
@media screen and (max-width: 600px) {
  .wrapper .my-cols4 .y-main-nav {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 10;
    width: 250px;
  }
  .wrapper .my-cols4 .y-main-nav.mui-enter {
    transition-duration: 500ms;
    transition-timing-function: linear;
    transition-duration: 0.2s;
    transition-timing-function: easeInOut;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .wrapper .my-cols4 .y-main-nav.mui-enter.mui-enter-active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .wrapper .my-cols4 .y-main-nav.mui-leave {
    transition-duration: 500ms;
    transition-timing-function: linear;
    transition-duration: 0.2s;
    transition-timing-function: easeInOut;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .wrapper .my-cols4 .y-main-nav.mui-leave.mui-leave-active {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
.wrapper .my-cols4 .y-main-nav__close {
  padding: 5px 10px;
  margin-bottom: 0;
}
.wrapper .my-cols4 .y-main-nav__close > .fa {
  font-size: 30px;
  line-height: 23px;
}
@media only screen and (max-width: 600px) {
  .wrapper .my-cols4 .my-title-bar {
    float: right;
    position: relative;
    top: -110px;
    left: 140px;
  }
}
@media only screen and (min-width: 600px) {
  .wrapper .my-cols4 .my-title-bar {
    display: none;
  }
}
.wrapper .my-cols4 .navi-font1 {
  position: absolute;
  right: 15px;
  top: 10px;
  color: white;
}
.wrapper .btn-two {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 22px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 1px;
}
.wrapper .back-row {
  text-align: center;
  color: white;
  width: 45%;
  position: relative;
  top: 170px;
  height: 250px;
  float: left;
  right: 200px;
  background: rgba(0, 0, 0, 0.32);
}
.wrapper .orbit-cont {
  width: 100%;
  height: 70%;
}
.wrapper .my-cols5 {
  margin-top: 149px;
  padding-left: 0px;
  padding-right: 0px;
  padding: 10px;
  text-align: center;
  color: white;
  margin-left: 50px;
  /* Demo Styles */
}
.wrapper .my-cols5 P {
  text-align: left;
}
@media only screen and (max-width: 600px) {
  .wrapper .my-cols5 {
    margin-top: 0px;
    /* padding-left: 0px; */
    /* padding-right: 0px; */
    /* padding: 10px; */
    text-align: center;
    color: white;
    margin-left: 50px;
  }
}
.wrapper .my-cols5 .orbit-cap {
  text-align: center;
  width: 100%;
  height: 400px;
}
.wrapper .my-cols5 .docs-example-orbit-slide {
  padding: 2rem 4rem;
  color: #fefefe;
}
.orbit-slide:nth-of-type(1) .wrapper .my-cols5 .docs-example-orbit-slide {
  background: dodgerblue;
}
.orbit-slide:nth-of-type(2) .wrapper .my-cols5 .docs-example-orbit-slide {
  background: rebeccapurple;
}
.orbit-slide:nth-of-type(3) .wrapper .my-cols5 .docs-example-orbit-slide {
  background: darkgoldenrod;
}
.orbit-slide:nth-of-type(4) .wrapper .my-cols5 .docs-example-orbit-slide {
  background: lightseagreen;
}

.btn-body {
  width: 100%;
}

/*@media screen and (max-width:600px) {*/
.btn1 {
  width: 100%;
  height: 5%;
  background-color: #ff6c00;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px;
  /*}*/
}

@media screen and (min-width: 600px) {
  .btn1 {
    width: 10%;
    height: 5%;
    position: absolute;
    /* display: none; */
    top: 35px;
    left: 940px;
    float: right;
    font-size: 10px;
  }
}
/* @media screen and (min-width:600px) {
        .btn1{
         position: relative;
    top: -30px;
    left: -30px;
    background-color: #ff8100;
    color: #fefefe;
    width: 100px;
    height: 30px;
    font-size: 11px;
}
        }*/
.center-img-overlap {
  position: relative;
  background-image: url(../images/web/back-image.jpg);
  opacity: 0.3;
  margin: 0px;
}

.center-img-overlap-one {
  background: #ff6c00;
  color: white;
  /*height: 500px;
  margin: 0px;*/
}
.center-img-overlap-one span {
  margin-left: -15px;
}
.center-img-overlap-one span img {
  height: 15px;
  width: 20px;
  margin: 40px;
  margin-right: 5px;
}
.center-img-overlap-one p {
  margin: 20px;
  margin-top: 10px;
  text-align: left;
}
@media only screen and (min-width: 600px) {
  .center-img-overlap-one {
    width: 50%;
  }
}
.center-img-overlap-one .btn-one {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 22px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 1px;
}

.head-text {
  color: white;
  background: #000000;
}
.head-text P {
  text-align: left;
}
.head-text span {
  padding: 20px;
  font-weight: bolder;
  font-size: 20px;
  text-align: left;
}
.head-text span img {
  margin-left: 10px;
  width: 20px;
  height: 22px;
}
.head-text p {
  text-align: left;
  padding: 20px;
}

/* media Quary our-partner-header*/
@media only screen and (min-width: 600px) {
  .rw2 .rw3 .rw4 .rw5 .rw6 .rw7 {
    margin: 0px;
    padding: 0px;
  }
  .rw2 .rw3 .rw4 .rw5 .rw6 .rw7 img {
    font-size: 15px;
    padding: 0px;
    margin: 0px;
  }
}
.our-partner-header {
  text-align: center;
  width: 100%;
  color: #ff6c00;
  background: white;
  font-size: 25px;
  font-weight: bold;
  padding-top: 70px;
}
.our-partner-header .rw8 {
  text-align: center;
}
.our-partner-header .rw2 img {
  height: 50px;
  width: 170px;
}
.our-partner-header .rw3 img {
  padding-left: 10px;
  height: 50px;
  width: 50px;
}
.our-partner-header .rw4 img {
  height: 50px;
  width: 70px;
}
.our-partner-header .rw5 img {
  text-align: right;
  height: 50px;
  width: 70px;
  margin-left: 70px;
}
.our-partner-header .rw6 img {
  padding: 10px;
  height: 100px;
  width: 200px;
}
.our-partner-header .rw7 img {
  padding: 10px;
  height: 100px;
  width: 200px;
  padding-left: 30px;
}

.announce {
  color: white;
  width: 100%;
  background-color: #ff6c00;
  text-align: left;
  padding-top: 50px;
  font-size: 25;
  font-weight: bold;
}
.announce .tran-one, .announce .tran-two {
  font-size: 20px;
  width: 89%;
  height: auto;
  background: #0000001f;
  padding: 20px;
  text-align: left;
  margin: 20px;
  margin-right: -16px;
}
.announce .text-trans p {
  text-align: left;
  padding-left: 20px;
  font-size: 25px;
}
.announce img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
.announce .btn-three {
  color: #fefefe;
  border: 1px solid white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 22px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 1px;
  background: transparent;
  margin-left: 35px;
}

.upi-dead-line {
  width: 100%;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  background-color: #151720;
  padding-left: 20px;
  color: white;
  /*margin-top: 100px;*/
}
.upi-dead-line .upi-trans span {
  margin-bottom: 50px;
}
.upi-dead-line .upi-one, .upi-dead-line .upi-two {
  font-size: 20px;
  width: 89%;
  height: auto;
  background: #0000001f;
  padding: 20px;
  text-align: left;
  margin: 20px;
  margin-right: -16px;
}
.upi-dead-line .text-trans p {
  text-align: left;
  padding-left: 20px;
  font-size: 25px;
}
.upi-dead-line img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
.upi-dead-line .btn-four {
  color: #fefefe;
  border: 1px solid white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 22px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 1px;
  background: transparent;
  margin-left: 35px;
}

.twitter {
  width: 100%;
  background: white;
  text-align: center;
  font-weight: bolder;
  color: #ff6c00;
  padding-top: 100px;
}
.twitter span {
  font-size: 30px;
  text-align: center;
}
.twitter span img {
  text-align: center;
}
.twitter .container-font i {
  padding: 15px;
}
.twitter .twitter-head {
  width: 90%;
  height: auto;
  margin-top: 20px;
  border: 1px solid gray;
  margin-left: 20px;
  font-size: 15px;
  text-align: left;
  padding: 10px;
}
.twitter .twitter-head .btn-five {
  padding: 0.85em 1em;
  background-color: transparent;
  color: #2ba6cb;
  float: right;
  position: relative;
  top: -60px;
  width: 100px;
  height: 40px;
  padding-bottom: 6p;
  border: 1px solid;
}
.twitter .twitter-head .btn-five span i {
  padding: 10px;
}
.twitter .twitter-head span {
  color: black;
  font-size: 20px;
}
.twitter .twitter-head span p {
  font-size: 10px;
}
.twitter .twitter-head span img {
  width: 50px;
  border-radius: 50%;
  float: left;
  margin-left: 10px;
  padding: 5px;
}
.twitter .twitter-head span span::after {
  content: "Sexual Right Initiative";
}
.twitter .twitter-head span p {
  font-size: 10px;
  text-align: left;
}

.arrow {
  color: gray;
  font-size: 30px;
  text-align: center;
  background: white;
  margin-left: 70px;
  margin-right: 70px;
}
.arrow i {
  margin-left: 59px;
  margin-right: 124px;
  text-align: right;
}

.mailing {
  /* margin:0px;*/
  width: 100%;
  padding-left: 20px;
  font-weight: bolder;
  color: white;
  font-size: 30px;
  background-image: url(../images/web/back-image.jpg);
}
.mailing span {
  width: 100%;
  padding-top: 70px;
  text-align: center;
}
.mailing span p {
  padding: 0px;
}
.mailing img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
@media only screen and (min-width: 600px) {
  .mailing .mailing span {
    text-align: center;
  }
  .mailing .mailing-list {
    padding-bottom: 86px;
    margin-left: 100px;
    text-align: right;
    /*margin:auto;*/
  }
  .mailing .mailing-list label {
    display: -webkit-inline-box;
  }
  .mailing .mailing-list label lavel:textarea(3) {
    max-width: 100%;
  }
  .mailing .mailing-list label .btn-ten {
    width: 100px;
    height: auto;
    background: #ff5e00;
    border-radius: 0px;
    color: white;
    margin: 0px;
    position: relative;
    right: 105px;
    text-align: center;
    top: 5px;
  }
  .mailing .mailing-list label textarea {
    max-width: 65%;
  }
  .mailing .mailing {
    background: black;
  }
  .mailing .mailing span {
    text-align: center;
  }
  .mailing .mailing span img {
    text-align: center;
  }
}

.mailing-list p {
  font-size: 15px;
}

.btn-ten {
  color: #fefefe;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 22px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
  background: #ffae00;
  margin-left: 35px;
  width: 200px;
  height: 47px;
}

.btn-seven {
  color: white;
  padding: 10px 31px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 22px 22px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
  background: #ff6c00;
  margin-left: 35px;
  width: 170px;
  height: 50px;
}

@media only screen and (min-width: 600px) {
  .footer {
    background-image: url(../images/Web/image.png) !important;
  }

  .footer-content {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-content h2 {
    font-size: 15px;
  }

  .footer-right img {
    display: none;
  }
}
.footer {
  padding-top: 70px;
  color: white;
  background: #151720;
  margin-left: 0px;
  margin-right: 0px;
}

.footer-right {
  float: left;
}
.footer-right img {
  height: auto;
  width: 100%;
}

.footer-left {
  text-align: left;
  padding-left: 15px;
}
.footer-left span {
  font-size: 13px;
  font-weight: bolder;
  margin-top: 5px;
  margin-bottom: 5px;
}
.footer-left i {
  margin: 10px;
}
.footer-left p img {
  width: 40%;
  height: auto;
  float: right;
}

@media only screen and (min-width: 600px) {
  .footer-left p img {
    position: relative;
    position: relative;
    bottom: -160px;
    left: -120px;
  }
}
.footer-content {
  background-color: #151720;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-bottom: 50px;
}
.footer-content p {
  padding-left: 10px;
}
.footer-content li {
  list-style: none;
  padding: 3px;
}
.footer-content h2, .footer-content h1 {
  padding-left: 10px;
  font-size: 15px;
  font-weight: bolder;
}

.bullet-position {
  position: relative;
  text-align: right;
  top: -25px;
  right: 5px;
  margin: 0px;
}

@media only screen and (min-width: 600px) {
  .copyright-section {
    background-image: url(../images/Web/image.png) !important;
  }
}
.copyright-section {
  color: white;
  padding-left: 40px;
  text-align: center;
  background-color: #151720;
  margin: 0px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.copyright-section p {
  display: inline;
  text-align: center;
}
.copyright-section .btn-orbit {
  border-radius: 5px;
  color: white;
  text-align: left;
  margin-left: 10px;
  border: 1px solid white;
  width: 111px;
  height: auto;
  padding: 10px;
  position: relative;
  top: -60px;
}
.copyright-section .orbit-cap {
  height: 340px;
}
.copyright-section .orbit-cap p {
  padding: 10px;
}
.copyright-section .orbit-arrow {
  padding: 0px;
}

/*# sourceMappingURL=style.css.map */
